.b-row {

  &__item {
    transition: .5s;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &_margin {
    margin-bottom: 20px;
  }

  &_align {
    margin-left: auto;
    margin-right: auto;
  }

  &_hover:hover {
    z-index: 99;
  }

  &_scaleBig:hover {
    transform: scale(1.3);

    @include media-breakpoint-down(md) {
      transform: none;
    }
  }

  &_scaleSmall:hover {
    transform: scale(1.6);

    @include media-breakpoint-down(md) {
      transform: none;
    }
  }
}

